<div class="container">
  <header class="header">
    <div id="cadrebibli">
    <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo">
    <a id="titre" style="text-decoration: none">Biblio'Tech</a>
    <nav class="main-nav">
      <a (click)="goBooksPage()" class="nav-link">Liste des documents</a>
      <a (click)="goContributionsPage()" class="nav-link">Contributions personnelles</a>
      <a (click)="goProfilPage()" class="nav-link">Profil</a>
    </nav>
    </div>
    <button style="margin-top:-6%" (click)="logout()" class="button" id="exit">Se déconnecter</button>
  </header>

  

  <div class="fenetre">
    <h1 style="margin-top:3%; margin-left:42%">User profile</h1>
    <br>
    <form (ngSubmit)="saveChanges()">
      <div id="compilbox">
      <div class="form-group">
        <label for="lastname">Nom:</label><br><br>
        <input type="text" id="lastname" [(ngModel)]="currentUser.lastname" name="lastname" placeholder="{{currentUser.lastname}}" class="form-control">
      </div>
      <br><br>
      <div class="form-group">
        <label for="email">Email:</label><br><br>
        <input type="email" id="email" [(ngModel)]="currentUser.email" name="email" placeholder="{{currentUser.email}}" class="form-control">
      </div>

      <div class="form-group">
        <label for="firstname">Prénom:</label><br><br>
        <input type="text" id="firstname" [(ngModel)]="currentUser.firstname" name="firstname" placeholder="{{currentUser.firstname}}" class="form-control">
      </div>
      <br><br>
      <div class="form-group">
        <label for="password">Mot de passe:</label><br><br>
        <input type="password" id="password" [(ngModel)]="currentUser.password" name="password" placeholder="********" class="form-control">
      </div>
      </div>
      <button type="submit" class="btn btn-primary">Confirmer changements</button>

    </form>
  </div>
</div>
