<div class="container">
  <header class="header">
    <div id="cadrebibli">
      <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo" (click)="navigate('')">
      <a id="titre" href="/" style="text-decoration: none">Biblio'Tech</a>
    </div>
  </header>


  <div id="cadre">
    <div class="button-container">
      <br>
      <br>      
      <br>
      <h1 id="bienvenue">Bienvenue sur <br> Biblio'Tech</h1>
      <h2 id="desc">Source de culture et de savoirs partagés...</h2>
      <br>
      <button (click)="navigate('connexion')" class="button" id="login">Connexion</button>
      <br>
      <button (click)="navigate('inscription')" class="button" id="signup">Inscription</button>
    </div>
  </div>
</div>
