<div class="container">
    <header class="header">
      <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo"> 
      <nav class="main-nav">
        <a (click)="goBooksPage()" class="nav-link">Recherche</a>
        <a (click)="goContributionsPage()" class="nav-link">Mes contributions</a>
        <a (click)="goProfilPage()" class="nav-link">Profil</a>
      </nav>
    </header>
    <button (click)="logout()" class="button" id="exit">Déconnexion</button>
<div class="fenetre">
<div *ngIf="book">
    <h2>{{ book.title }}</h2>
  </div>
</div>


  </div>

  