@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;

}

.header {
  background-color: aliceblue;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, aliceblue 0%, rgba(240, 194, 10, 1) 50%, aliceblue 100%);
}

.header img {
  transition: transform 0.3s ease;
}

.header img:hover {
  transform: scale(1.05);
}

.logo {
  width: 90px;
  height: auto;
  margin-left:5%;
}


.button-container {
  text-align: center;
}

.button {
  width: 50%;
  color:050b26;
  background-color: white;
  border: solid 3px white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
  margin-top: 8%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight:bold;
}

#accroche{
  color:aliceblue;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight:lighter;
  font-size:80%;
  text-align: center;


}

.button:hover {
  background-color: transparent;
  color: white;
  font-weight:normal;


}

#cadre {
  width: 400px;
  height: 500px;
  background-color: #050b26;
  border-radius: 5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#cadrebibli {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, aliceblue 0%, rgba(240, 194, 10, 1) 50%, aliceblue 100%);
}

#titre {
  color: white;
  font-size: 450%;
  margin-left: 40%;
  margin-top: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: 100%;
}

#inscriptitre{
  color:white;
  font-family:'Helvetica', 'Arial';
  font-weight:bold;
  text-align: center;
}



#connect{
  color:white;
  font-family:'Helvetica', 'Arial';
  font-weight:bold;
  margin-right:0%;
}

#buttoninscription{
  text-align: center;
  color:black;
  background-color: white;
  border: solid 3px white;
  margin-top: 5%;
  font-size:110%;
  font-weight:bold;
  width:40%;
  height:110%;
  border-radius: 20px;

}

#finalement-inscription{
  text-align: center;
  color:grey;

}

#forme{
  color:white;
  font-family:'Helvetica', 'Arial';
  font-weight: bold;
  text-align:left;
  margin-left:10%;
}


#interforme{
  text-align:unset;
  margin-right:10%;
  width: 40%;
  float:right;
}