@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }

  .container {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
  }


.header {
  z-index: 2;
  width:100%;
  cursor: pointer;
}

.header img {
  transition: transform 0.3s ease;
}

.header  img:hover {
  transform: scale(1.05);
}


.logo {
  z-index: 2;
  width: 90px;
  height: auto;
}


.button {
  z-index: 2;
  padding: 10px 20px;
  margin: 0 40px;
  color: #fff;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 13%;
  height: 50px;
  margin-top: 2%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-left: 80%;

}




.search-container {
    width: 120%;
    height: 500%;
    position:absolute;
}

.search-container input[type="text"] {
    margin-top: 15%;
    margin-left: 8.5%;
  width: 65%; 
  height: 6%;
  padding: 0.5rem 1rem;
  font-size: 1rem; 
  border: solid lightgray; 
  border-radius: 3px; 
  outline: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.search-icon {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  cursor: pointer;
}

.card-container {
    padding-left: 10%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-top: 15%;
    background-color: transparent;
  }

  .card {
    cursor: pointer;
    background: #fff;
    border:lightgrey solid 2px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: calc(15% - 60px);
  }

  .card-img {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(10,65,240,1) 0%, rgba(0,14,59,1) 54%);
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
  }

  .card-author {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #666;
    margin-bottom: 10px;
  }

  .card-rating {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #b6220f; 
  }

  .card:hover,
  .card:focus {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
  }

  .main-nav {
    position: absolute;
    display: flex;
    gap: 100px; 
    margin-top: -3%;
    margin-left: 35%;
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff; 
    padding: 10px;
    border-radius: 5px; 
    font-size: 20px;
  }

  .nav-link:hover {
    background-color: white;
    color:rgba(240, 194, 10, 1); 
  }

  #cadrebibli {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color:rgba(240, 194, 10, 1);
    padding-bottom:3%;
  }

  #titre {
    color: white;
    font-size: 250%;
    margin-left: 3%;
    margin-top: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 100%;
  }

@media (max-width: 768px) {
  .search-container input[type="text"] {
    width: 50%; 
  }
}
