<div class="container">
  <header class="header">
    <div id="cadrebibli">
    <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo">
    <a id="titre" style="text-decoration: none">Biblio'Tech</a>
    <nav class="main-nav">
      <a (click)="goBooksPage()" class="nav-link">Liste des documents</a>
      <a (click)="goContributionsPage()" class="nav-link">Contributions personnelles</a>
      <a (click)="goProfilPage()" class="nav-link">Profil</a>
    </nav>
    </div>
  </header>
  <button (click)="logout()" class="button" id="exit">Se déconnecter</button>

  <div class="card-container">
    <div class="card" *ngFor="let book of myBooks">
      <img alt="Couverture de {{ book.title }}" class="card-img">
      <div class="card-content">
        <p class="card-title">{{ book.title }}</p>
        <p class="card-rating">Rating :</p>
      </div>
    </div>
  </div>
</div>
